<div class="main">

   <!-- just small info about shop -->
   <div class="labelItems">
      <div class="info">
         <div class="label1">

         </div>
         <div class="label2">
            
         </div>
         <div class="label3">
            
         </div>
      </div>
   </div>

   <!-- list of goods -->
   <div class="bodyItems">
      <!-- the goods -->
      <div *ngFor="let item of items" class="item">

         <div class="labelItem">
            <img src="../../assets/luxury-shop.png" width="200" height="200" alt="icon">
         </div>

         <div class="bodyItem">
            <div class="info">
               <h1> {{item.title}} </h1>
               <p> {{item.description}} </p>
            </div>
            <div class="conrollers">
               <button (click)="addToCartOne(item.id)"> Add to cart </button>
            </div>
         </div>

      </div>
   </div>

</div>