<!-- start of nav and cart -->

<div class="nav">
  <div class="labelNav">
    <img src="../assets/luxury-shop.png" alt="diamond">
  </div>
  <div class="bodyNav">
    <button (click)="showCart()" class="btn">Cart</button>
  </div>
</div>

<div #cart class="cart">

  <div class="mainCart">
    <div class="labelCart">
      <h1>Cart</h1> 
      <img (click)="showCart()" style="cursor:pointer" width="64" height="64" src="../assets/icon-close.png" alt="close">
    </div>

    <div class="bodyCart">
      <h1> {{voidCart}} </h1>
      <div *ngFor="let item of items" class="item">
        <div class="labelItem">
          <img [src]="item.icon" alt="logo">
        </div>
        <div class="bodyItem">
          <div class="info">
            <h1> {{item.title}} </h1>
            <p> {{item.description}} </p>
          </div>
          <div class="controls">
            <svg (click)="addToCartOne(item.id)" style="color:rgb(46, 207, 100); cursor:pointer" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
              <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>

            <h1> {{item.amount}} </h1>

            <svg (click)="minToCartOne(item.id)" style="color:rgb(247, 90, 90); cursor:pointer" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
              <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="buyButton">
      <button> Pay </button>
    </div>
  </div>

</div>

<!-- end over of nav and cart -->

<router-outlet></router-outlet>