.nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 1rem;
   text-align: center;

   padding: 0.5rem;

   border-bottom: 0.01rem solid rgb(222, 222, 222);
   border-radius: 1rem;
   background-color: rgb(255, 255, 255);

   .labelNav{
      img{
         width: 4rem;
         height: auto;
      }
   }
   .bodyNav{
      margin-right: 1rem;
      button{
         background-color: rgba(0, 0, 0, 0);
      }
      .btn{
         position: relative;
         display: block;
         cursor: pointer;
      
         padding: 0.4rem;
      
         font-size: 1.5em;
         text-align: center;
         font-family: 'Roboto', sans-serif;
         background-color: rgba(0, 0, 0, 0);
      
         border: 0;
      }
      .btn::after{
         content: "";
         position: absolute;
         left: 0;
         bottom: 0;
         
         width: 100%;
         height: 0.1rem;
      
         background: linear-gradient(to right, rgb(0, 0, 0), black);
      
         transform-origin: center;
         transform: scale(0,1);
         transition: 0.4s ease;
      }
      .btn:hover::after{
         transform: scale(1,1);
      }
   }
}

.cart{
   position: fixed;
   z-index: 5;
   right: 0;
   top: 0;

   display: flex;
   flex-direction: column;

   width: auto;
   height: calc(100vh - 2rem);
   margin: 1rem 0rem 0rem 1rem;

   transform: translateX(50rem);
   transition: 0.6s ease;

   .mainCart{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0.4rem;

      min-width: 22rem;
      height: 100%;
      padding: 1.25rem;

      background-color: rgb(255, 255, 255);

      border: 0.01rem solid rgb(222, 222, 222);
      border-radius: 1rem 0rem 0 1rem;

      .labelCart{
         display: flex;
         align-items: center;
         justify-content: space-between;
         text-align: center;

         width: 100%;

         border-bottom: 0.01rem solid rgb(222, 222, 222);
      }

      .bodyCart{
         overflow-y: scroll;
         -ms-overflow-style: none;  /* IE and Edge */
         scrollbar-width: none;  /* Firefox */

         display: grid;
        // flex-direction: column;
         grid-template-columns: repeat(1,1fr);
         grid-template-rows: repeat(1, 4fr);

         gap: 1rem;
         margin-bottom: 1rem;

         width: 100%;
         height: 100%;

         .item{
            transition: 1s ease;

            animation: show 0.4s ease;

            span{
               transition: 1s ease;

               display: flex;
               gap: 0.4rem;
               width: 100%;
               height: auto;

               border: 0.01rem solid rgb(222, 222, 222);
               border-radius: 1rem;
            }

            .labelItem{
               overflow: hidden;
               display: flex;

               width: auto;
               height: 100%;

               img{
                  text-align: center;

                  max-height: 5rem;
                  max-width: 6rem;

                  border-radius: 1rem 0 0 1rem;
               }
            }
            .bodyItem{
               padding: 0.4rem;
               width: 100%;

               display: flex;
               justify-content: space-between;
               gap: 0.6rem;

               .info{
                  position: relative;
                  display: flex;
                  
                  h1{
                     font-size: 1.65rem;
                  }
                  p{
                     position: absolute;
                     bottom: 0;
                     left: 0;
                  }
               }

               .controls{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;

                  position: relative;
                  .amountItem{
                     margin-right: 1rem;
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     gap: 1rem;
                  }
               }
            }
         }

         &::-webkit-scrollbar{
            display: none;
         }
      }
      .buyButton{
         padding-top: 1rem;

         width: auto;
      
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 0.6rem;

         font-size: 1.65rem;
         text-align: center;

         border-top: 0.01rem solid rgb(222, 222, 222);
         
         width: 100%;

         button{
            display: flex;
            justify-content: center;
            align-items: center;
            
            width: 100%;

            padding: 0.8rem 1rem;
            margin: 0;

            text-align: center;
            font-size: 1.65rem;
            font-weight: 400;
            color: rgb(255, 255, 255);

            background-color: rgb(137, 223, 134);

            border-radius: 1rem;
            border: none;

            &:hover{
               cursor: pointer;
               background-color: rgb(128, 212, 126);
            }
         }
      }
   }
}
.showCart{
   transform: translateX(0rem);
}

@keyframes show{
   0%{
      transform: translateX(100rem);
   }
   100%{
      transform: translateX(0rem);
   }
}

.hideItem{
   transform: translateX(-100rem);
}