.main{
   margin-top: 1rem;
   padding: 0;
   width: 100%;

   .mainPay{
      display: flex;
      justify-content: center;
      gap: 1rem;

      //border: 0.1rem solid rgb(222, 222, 222);
      //border-radius: 1rem;
   
      //background-color: rgb(255, 255, 255);

      .items{
         padding: 1rem;

         display: grid;
         grid-template-columns: repeat(1, 1fr);
         gap: 1rem;

         .item{
            padding-bottom: 1rem;

            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 3rem;

            border-bottom: 0.1rem solid rgb(222, 222, 222);

            &:last-child{
               border: none;
               padding-bottom: 0;
            }

            .labelItem{
               width: auto;
               height: 100%;

               display: flex;
               align-items: flex-start;
               gap: 1rem;

               img{
                  display: flex;
                  text-align: center;

                  width: 6rem;
                  height: 6rem;

                  border-radius: 1rem;
               }

               .info{
                  height: 100%;

                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  align-items: flex-start;

                  .text{
                     text-align: start;

                     h1{
                        font-size: 2em;
                     }
                     p{
                        font-size: 1em;
                     }
                  }
                  button{
                     padding: 0;
                     margin: 0;

                     display: flex;
                     align-items: center;
                     justify-content: center;

                     font-size: 1em;
                     color: rgb(228, 121, 121);

                     background-color: initial;
                     border: none;
                     
                     cursor: pointer;
                  }
               }
            }
            .bodyItem{
               height: 100%;
               width: auto;

               display: flex;
               flex-direction: column;
               justify-content: space-between;
            

               .totalPriceItem{
                  display: flex;
                  justify-content: flex-end;
               }

               .controls{
                  height: auto;
                  width: auto;
                  
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;

                  .amountItem{
                     padding: 0.2rem;

                     display: flex;
                     justify-content: center;
                     align-items: center;
                     gap: 0.6rem;
   
                     text-align: center;
                     font-size: 0.6em;
   
                     background-color: rgb(233, 233, 233);
   
                     border: 0.1rem solid rgb(222, 222, 222);
                     border-radius: 0.4rem;
                  }
               }
            }
         }
      }
      .pay{
         padding: 1rem;
         
         display: flex;
         justify-content: center;

         flex-grow: 1;

         border-left: 0.01rem solid rgb(222, 222, 222);;

         form{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            align-content: space-between;
            gap: 1rem;

            .inputArea{
               display: grid;
               grid-template-columns: repeat(1, 1fr);
               gap: 1rem;

               .largeCol{
                  display: flex;
                  justify-content: space-between;
                  gap: 4rem;
               }

               .col{
                  display: flex;
                  flex-direction: column;
                  gap: 0.2rem;
                  
                  label{
                     font-size: 1.2em;
                     font-weight: 500;
                  }
                  input{
                     padding: 0.2rem;
                     padding-left: 0.6rem;

                     width: 8rem;

                     text-align: start;
                     font-size: 1em;
                        
                     border: 0.01rem solid rgb(222, 222, 222);
                     border-radius: 0.4rem;
   
                     &:focus{
                        box-shadow: none;
                     }
                  }
               }
            }
            .payInfo{
               padding-top: 1rem;
               border-top: 0.01rem solid rgb(222, 222, 222);

               display: flex;
               flex-direction: column;
               flex-grow: 1;

               button{
                  padding: 0.8rem 1rem;

                  text-align: center;
                  font-size: 1.25em;
                  font-weight: 400;
                  color: rgb(255, 255, 255);

                  background-color: rgb(137, 223, 134);

                  border: none;
                  border-radius: 1rem;

                  &:hover{
                     cursor: pointer;
                     background-color: rgb(128, 212, 126);
                  }
               }
            }
         }
      }
   }
}

@media screen and (max-width: 660px){
   .mainPay{
      flex-direction: column;

      .items{
         padding: 1rem 0!important; 
         width: 100% !important; 

         border: 1rem 0 !important; 
         border-radius: 0 !important;
         
         .item{

            .bodyItem{
               padding-right: 0.4rem;
            }
         }
      }

      .pay{
         border-left: none !important;
      }
   }
}